body{
	margin: 0px;
/*	font-family: 'Sahitya', serif;
*/    font-family: 'Crafty Girls', cursive;
	/*position: relative;*/
}

*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

.banner{
	overflow: hidden;
    margin: 0px auto !important;
    background: #CACACA;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.gradient-slider{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 162px;
}

.banner h1{
    display: block;
    color: #fff;
    /*margin: 0;
    padding: 0;
    font-family: FuturaLTBold;
    font-size: 30px;*/
    position: absolute;
   /* width: 774px;*/
    margin:0;
    bottom: 23px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgba(120, 120, 120, 1) !important;
   /* z-index: 2;*/
}


.menu {
    margin-top: 0px;
    position: static;
    left: 0px;
    right: 0px;
}

.menuItem{
    word-spacing: 20%;
}
.navbar-wrapper{
	position: relative;
	top: 0px;
	z-index: 15;
	margin-left:0px;
	margin-right: 0px;
}
.navbar-inverse {
  
    border-color: rgba(121, 85, 72, 0.47);
    background-color: rgba(121, 85, 72, 0.47);
    }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: rgba(8, 8, 8, 0);
    opacity:0.9;
    color:#4da199;
}
.navbar-inverse .navbar-nav>li>a {
    color:#4da199;
}


.navbar-nav {
    /*margin: 0 auto;*/
    text-align: center;
    float: right;
    line-height: 1.3em;
    /*left: 50%;*/
    font-size: 17px;
   /* padding-top: 50%;*/


   /* margin-right: -50%;
    transform: translate(-50%, -50%)*/
}
ul.nav{
    text-align: center;
}

.isStuck {
    left: 0px;
    width: 100%;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 100px;
  }

.ri-loading-image{
	
	background-size: 100%;
}

/*.container{
	height: 100vh;

}*/
.container-fluid{
	margin-left:0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;

}
/*.container-fluid>.navbar-header{
	margin-left:0px;
	margin-right: 0px;
}*/
.face{
    background-repeat: no-repeat;
 
        width: 100%;
}

.bannerText{
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    text-align: center;
    padding: 20x 0 30px;
    max-width: 960px;
    border: 1px;
    background: #04060cbf;
    opacity: .9;
    color: #197396c7;
    text-transform: uppercase;
    font-size: .5em;

}

.heading{
    padding-bottom: 55px;

}

.navbar-collapse{
	vertical-align: middle;
 /*   padding-left:50%;*/
}


.navbar{
	margin-bottom: 0px;
}

#aboutme{
	/*background: #0dacac; */
	/*background: #74cbd0;*/
   /* background: #4da199;*/
    background: hsla(0, 0%, 62%, 0.29);
    padding-top: 90px;
    padding-bottom: 100px;
/*    height: 100vh !important;*/
}
	a {
    color: #ffeb3b;
    font-weight: 900;
}

.card {
  /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.1s;
    margin: 0px;
    width: 35%;
    padding-left: 8%;
    padding-top: 15px;
    
}

b, strong {
    padding-left: 30px;
}



.avatar {
    padding: 2px 16px;
    display: inline-table;
    padding: 5px;
    font-size: 1.5em;
}
.img-circle{
	width: 70%;
	
	}

#summary{
	float:left;
	text-align:justify;
	padding-bottom: 20px;
}

.bntDownload {
    font-size: 16px;
    font-weight: 700;
    background: #4da199;
    padding: 16px 22px;
    display: inline-block;
    color: #5b4134;
    margin-top: 40px;
}
a:hover {
	background-color: #74cbd3;
	color: #FFFFFF;
	box-shadow: 2px;
	text-decoration: none;
}



.fullpage-section{
	background: #4da199;
    padding-top: 90px;
    padding-bottom: 100px;
    /*height: 100vh !important;*/
}



.title {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    padding: 20px 0;
  }

.work{
    	
    	/*background-color: #74cbd0;*/
        background-color:rgba(255, 193, 7, 0.29);
    	margin:0px;
    	width: 100%
        padding-top: 70px;
    }
.fullpage-section .work{
  	height: 100%;
  }

/*START TINMELINE*/
ul.timeline {
    /*border-left: 8px solid #FFF;*/
    list-style: none;
    padding: 1px 0;
    margin-left: 100px;
}


    ul.timeline li .timeline-date {
    float: left;
    padding: 10px 15px 10px 10px;
    margin-top: 10px;
    margin-left: -115px;
    font-size: 15px;
    width: 110px;
    text-align: center;
     background: #4da199; 
    color: #fff;
}

ul.timeline li .circle {
    float: left;
    margin: 20px 0;
    margin-left: -14px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    background-color: #d5d5d5;
}

ul.timeline li .data {
    background: hsla(0, 0%, 62%, 0.29);
    margin: 10px 0px 10px 20px;
    border-left: 10px solid;
    padding: 18px 20px;
    font-size: 16px;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 3px;
    border-left-color: #4da199; 
}
.timeline-title{
    padding-left: 20px;
    font-weight: bold;
}
ul.timeline li .data .timeline-title {
    cursor: pointer;
    color: #777;
    font-size: 18px;
}
ul.timeline li .data .text {
  /*  display: none;*/
    margin-top: 15px;
    font-size: 14px;
}
ul.timeline li.open:hover .circle {
    background-color: #03bb7a;
    box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

/*END TIMELINE*/

/* Footer*/

.footer {
	background:#4da199; 
}
.follow{
list-style-type:none;
}
.social{
    display: inline-block;
}
   
/**END FOOTER**/

/*Extra Extra large devices */

@media (min-width: 1440px) {

  .fullpage-section{ 
    height: 100% !important;
  }
}


/*Extra large devices omly*/
@media (min-width: 1200px) {
	.bannerText{
		top: 135%;
		font-size: 15px;
}
	
/*.aboutme {
	height: 100vh;
}*/
/*.fullpage-section{
	height: 100vh !important ;
}*/

.work{
    clear: both;
    height: 100%;
    	
}

   b, strong {
    padding-left: 30px;
} 

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.bannerText{
	top: 45%;
	font-size: 15px;
}
.container {
    	margin-right: 0px;
    	margin-left: 0px;
}
.aboutme .fullpage-section{
	height: 100vh;
}

.work{
	height: 100%;
}
	b, strong {
    padding-left: 30px;
} 

}

@media (min-width: 768px) and (max-width: 991px) {


.card{
    width: 60%;
    margin-left: 25%;
}
b, strong {
    padding-left: 75px;
    
}

}

@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar {
    border-radius: 0px;
}
.fullpage-section{
     height: 100%;
}
#aboutme{
    height: 100%;
}
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
	.bannerText{
	top: 15%;
	font-size: 10px;
}

.card{
    width: 60%;
    margin-left: 18%;
}
    

.container {
   			height: auto;
}
/*.navbar-collapse {
    vertical-align: middle;
    position: fixed;
}*/
.navbar-collapse {
    vertical-align: middle;
    position: fixed;
    padding-right: 95px;
    padding-left: 15px;
    text-align: center;
    overflow-x: visible;
    /* position: fixed; */
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #333;
    width: 100vh;
    }
.navbar-toggle {
    position: fixed;
    top: 0px;
    right: 0px;
    /*float: right;*/
    border-color: #333;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #333;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
}
.bannerText{
	top: 13%;
    font-size: 15px;
    padding: 5px;
    float: left;
    display: inline-table;
    margin-left: 10px;
}

}

/*********************Super extra small devices Only (e.g. iPhone 4)****************/
@media (max-width: 479px) and (min-width: 320px){

    h1 {
        font-size: 10px;
    }

	.bannerText{
	top: 45%;
	font-size: 10px;
}
/*.navbar-nav{*/
    /*padding-top: 50%;
    width: 100vh;
    height: 100vh;
    float: none;*/

.navbar-toggle{

  /*  height: 100%;*/
  /*  width: 0;*/
    position: fixed;
    z-index: 1;
   /* top: 0;
    left: 0;*/
   /* background-color: #111;*/
/*    overflow-x: hidden;*/
    transition: 0.5s;
  /*  padding-top: 60px;*/
    text-align:center;
}
.affix{
    position: absolute;
}


/*.navbar-nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}*/
/*.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    }*/

.fullpage-section{
     height: 100% !important;
}
#aboutme{
    height: 100%;
    padding-top: 0px;
}
.navbar-collapse {
    vertical-align: middle;
    position: fixed;
    opacity: 0.9;
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 30%;
}
.navbar-collapse {
    border: 0px;
   /* opacity: -1;*/
}

/*.overlay-nav-container{
    z-index: 10001;
    box-sizing: border-box;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}*/
/*.navbar-collapse {
    padding-right: 95px;
    padding-left: 15px;
    text-align: center;
    overflow-x: visible;
    /* position: fixed; */
    /*visibility: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}*/
/**/
.navbar-header{
    visibility: hidden;
}

.navbar-toggle{
    visibility: visible !important;
}
.navbar-inverse{
    border-color: #e3e3e3 !important;
}

.fluid-container{
    background: #e3e3e3;

}

.card{
    width: 60%;
    margin-left: 25%;
}
b, strong {
    padding-left: 5px;
}
ul.timeline .data {
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding-top: 65px !important;
}
ul.timeline .timeline-date {
    margin-left: 0 !important;
}
ul.timeline{
    margin-left: 0px;
}
}
