body {
    margin: 0px;
/*	font-family: 'Sahitya', serif;*/
/*    font-family: 'Handlee', cursive;*/
   font-family: 'Radley', serif;
 /*  font-family: 'Roboto', sans-serif;*/
 /*  font-family: 'PT Serif', serif;*/
/*font-family: 'Crafty Girls', cursive;*/
	/*position: relative;*/
     /*-ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
 */
  
}

section{
  
    height: 100%;
    overflow: auto;
   /* padding-top: 60px;
    padding-bottom: 60px;*/
    /*background:#d0e3e1;*/
    background:#dadde8;
 }

.aboutme{
    padding-top: 30px;
}

p{
    line-height: 1.7;
    font-size: 19px;
    color: #000000;
    text-align:justify;
}


*{
	margin:0px;
	box-sizing: border-box;
}

.link{
    display:flex;
    height:80px;
}

.banner{
    padding:0px;
}

.outer-wrapper{
	overflow: hidden;
    margin: 0px auto;
    /*background: #CACACA;*/
/*    background-color: #b13228;
*/  background-color: #3e456d;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding:0px;
    display:table;
    width:100%;
}

.inner-wrapper{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    mix-blend-mode: multiply;
}

.header-wrapper{
    color:#FFFFFF;
    margin: 0px;
    padding:10px;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -20%;
    transform: translate(-50%, -50%);
}

.header-wrapper p{
    color: #FFFFFF;
}

.qoute{
    color:#FFFFFF;
    background: transparent;
}

.blockquote-reverse{
    border-right:none;
}

.face{
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    display: table;
    padding-bottom: 50px;
    margin: 0px auto;
    color: #000;
    font-size: 40px;
}

h3{
    margin-bottom: 30px;
    text-align: center;
    color: #1c1d27;
}

/*Bootstrap has another *a* color*/
a {
    color: #034e70;
    font-weight: 500;
}
/*
.darksectionname {
    color:#000;
    font-weight: 900;
    font-size:1.6em;
}

.darksectionname:hover {
    color:#000;
}
*/
.menu {
    margin-top: 0px;
    position: static;
    left: 0px;
    right: 0px;
}

.navbar-inverse {
    border-radius: 0%;
    /*border-color: #080808;*/
    border-color: #d0a523;
    background-color: #d0a523;
    }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color:#3e456d;
    opacity:0.9;
    color:#FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    /*color:rgba(201, 170, 170, 0.95);*/
    color:#080606;
    font-size: 20px;
}

.navbar-wrapper{
    position: relative;
    top: 0px;
    z-index: 15;
    margin-left:0px;
    margin-right: 0px;
}

.navbar-nav {
    float: right;
    line-height: 1.3em;
    font-size: 17px;
}

.navbar-inverse .navbar-collapse{
    margin-right: 20%;
    border-color:transparent;

}

.nav>li {  /*Bootstrap*/
    top:13%; 
}

.menuItem{
    word-spacing: 20%;
}

ul.nav{
    text-align: center;
}

.affix{
    top: 0;
    width: 100%;
    transform: translate3d(0,0,0);
}

.affix + .container-fluid {
    padding-top: 100px;
}

.navbar{
	margin-bottom: 0px;
}

/*navbar end*/

.subHeading{
    text-align: center;
}

.large-letter{
    font-size:3.1em;
    color:#b81527;
}

.none-justify{
    text-align: initial;
    margin-bottom: 60px;
}

.capital-letter{
    text-transform: uppercase;
    font-weight: 800;
}

.left{
    float: none;
    font-size: 20px;
    padding-left: 15px; 
}

.avatar{
    top: 25px;
    text-align: center;
}

.img-circle{
	width: 90%;	
    border-radius: 0%;
    padding-bottom: 30px; 
}

/*Button Start*/

.bntDownload {
    padding: 16px 2px;
    margin-top: 40px;
    text-align:center;
    display:block;
    height: 65px;
    width: 290px;
    cursor:pointer;
    font-size:25px;
    border: 2px solid #4c4e64;
    text-transform: uppercase;
    -webkit-transition: background 0.05s linear;
    -moz-transition: background 0.05s linear;
    -o-transition: background 0.05s linear;
    transition: background 0.05s linear;
    background-size:1px 200px;
    transition: all .05s linear;
    margin: 0 auto;
    color: #4c4e64;
}

.bntDownload:active {
  border-color: #338eB0;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

/**Button End**/
/*Expertise start*/

.expertise{
    /*background: #FFFFFF;*/
   /* background-color: #dfe7e6;*/
}

.introduction{
    display: inline-block;
/*    background-color: #e8a872;
    background-color: #f18563;*/
    background-color: #f6f8fb;
    border-radius: 50%;
    margin: 55px;
    opacity: 0.7;
}

.experticon{
    border-top: 1px solid #000;
    margin: 10px;
}

/*Expertise END*/
/*Skills-courses starts*/

.courses{
    /*background: linear-gradient(to bottom, #034e70, #17aa9d);*/
   /* background: linear-gradient(to bottom, rgba(19, 152, 148, 0.36), #17aa9d);*/
    overflow: hidden;
    padding-bottom: 30px;
}

.card{
/*    border: 1px solid black; */  
    margin: 15px;
    padding: 25px;
    background: rgba(246, 235, 235, 0.64);
}

.ga-QI{
    margin-left: 40px;
}

.eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

/*Road map starts*/
.version{
    display: none;
    font-size: 20px;
    background: linear-gradient(to bottom, rgba(63, 85, 139, 0.2), #e2e2e2 );
/*  background: linear-gradient(to bottom, #ada9b5, rgba(66, 64, 64, 0.28));
*/}

.line2{
    list-style-type: square;
    list-style-position:inside;
    padding-left: 20px;
    font-size: 19px;
}

.line1{
    list-style-type: circle;
    list-style-position:outside;
    padding-left: 20px;
}

.work{
    /*background: linear-gradient(to bottom, rgba(255, 193, 7, 0.29), rgba(255, 152, 0, 0.67));*/
    background: linear-gradient(to bottom, rgba(63, 85, 139, 0.2), #686666);
    margin:0px;
    width: 100%;
    display: none; 
}

.thumbnail{
    background:none;
    border:none;
    padding:0px;
}

figure{
    height:220px;
    width:220px;
    margin:0 auto;
}

figure img{
    width: 50%;
    height: 50%;
}

.container-fluid{
    padding:0px;
    display: none;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

.carousel-indicators{
    font-size: 2px;
    z-index: 1;
}

.slidetitle{
    margin-top: 70px;
}

/*ROAD MAP END*/
/*START TINMELINE*/

.timeline {
    list-style: none;
    padding: 1px 0;
    margin-left: 100px;
}

ul.timeline li .timeline-date {
    float: left;
    padding: 10px 15px 10px 10px;
    margin-top: 10px;
    margin-left: -115px;
    font-size: 15px;
    width: 110px;
    text-align: center;
    /*background: #4da199; */
    background: linear-gradient(to bottom, #17aa9d, rgba(23, 170, 157, 0.61));
    color: #fff;
}

ul{
    list-style-type: none;
}

ul.timeline li .circle {
    float: left;
    margin: 20px 0;
    margin-left: -14px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    background-color: #d5d5d5;
    list-style-type: none;
}

.text-muted{
    color: #fed14b;
}

ul.timeline li .data {
    /*background: hsla(0, 0%, 62%, 0.29);*/
    background: rgba(19, 152, 148, 0.36);
    /*background: linear-gradient(to bottom, #3F51B5,rgb(83, 122, 189));*/
    margin: 10px 0px 10px 20px;
    border-left: 10px solid;
    padding: 18px 20px;
    font-size: 16px;
    -webkit-box-shadow: 0px 3px 3px -3px solid #ccc;
    box-shadow: 0px 3px 3px -3px solid #ccc;
    border-radius: 3px;
    border-left-color: #fed14b; 
}
.timeline-title{
    padding-left: 20px;
    font-weight: bold;
}
ul.timeline li .data .timeline-title {
    cursor: pointer;
    color: #777;
    font-size: 18px;
}
ul.timeline li .data .text {
  /*  display: none;*/
    margin-top: 15px;
    font-size: 14px;
}
ul.timeline li.open:hover .circle {
    background-color: rgb(233, 125, 100);
    box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}
/*END TIMELINE*/

/* FOOTER*/

footer {
	/*background:#4da199;*/
    background: linear-gradient(to bottom, rgba(19, 152, 148, 0.36), #17aa9d);
/*    background:linear-gradient(to bottom, #034e70, #17aa9d);*/
    background: #3e456d;

}

footer div{
    padding-top: 20px;
}

.about h4{
    color:rgb(208, 165, 35);
    font-size: 19px;
    text-align: justify;

}

.about{
    float: left;
}

.about a{
    color: #9896e0;
}

.about p{
    color:#e1e2e2;
    line-height: 25px;
}
.follow-me{
    float: right;
    list-style-type:none;
    padding-bottom: 15px;
    padding-left: 0px;
    margin-top: 10px;
}

.social{
    display: inline-block;
}

.follow-me p{
/*    color:rgb(208, 165, 35);*/
    color: #9896e0;
}

.follow{
    padding-left: 0px;
}
/*.footertext{
    padding-bottom: 30px;
    color: #FFFFFF;
}*/
   
/**END FOOTER**/

/***COOKIE_MESSAGE START***/
.cookie_message {
    background-color: #f9e3e1;
    border-top: 1px solid rgba(0,0,0,0.3);
    position: fixed;
    padding: 5px 25px 5px 25px;
    bottom: 0;
    width: 100%;
    z-index: 999999999;
}

.cookie_message .button {
    margin: 0 0 10px 10px;
}

.textcookie{
    font-size:15px;
}

.cookie{
    margin:20px 10px;
}

.buttonGA{
    font-size: 14px;
    padding: 5px 18px;
    margin: 5px 0px;
/*    float: right;*/
    background: transparent;
    border: 1px solid;
}

.buttoncookie{
    margin-top: 30px;
}

.cookie_message::after{
    visibility: none;
}

/********** Medium devices only **********/

@media screen and (min-width: 768px) and (max-width: 1199px) {

.tablet{
    margin-left: 9%;
}

.navbar-inverse .navbar-collapse {
    margin-right: 0%;
    transform: translate(-5%, 0%);
    width: 770px;
}
}

/********** Extra small devices only **********/
@media screen and (max-width: 767px) {

.header-wrapper p{
    font-size:10px;
    margin-top:-10px;
}

h1{
    bottom: 65%;
    left: 50%;
    font-size: 15px;
}

.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}

.navbar-wrapper{
    position:absolute;
}

.navbar-collapse ul{
    position: fixed;
    margin: 0px auto;
    height: 100vh;
    width:100%;
    border:none;
    background: #f18563;
/*    background: linear-gradient(to bottom, #034e70, #17aa9d);
*/}

.navbar-toggle {
    position: fixed;
    top: 0px;
    right: 0px;    
    background-color: #333;
    border-radius: 4px;
}

.navbar-nav{
    width: 100%;
    left: 0;
    background: #eeeeee;
}


.eq-height{
    display: table-cell;
}

.card{
    margin:0px 0px 15px 0px;
}

.subHeading{
    margin-top: 20px;
}

ul.timeline li .timeline-date{
    margin-left: 0px;
}

.timeline{
    margin-left: 0px;
}
}


@media screen and (max-width: 767px) and (min-width: 480px){

.avatar{
        width: 33%;
}
}


/**Super extra small devices Only (e.g. iPhone 4)**/
@media screen and (max-width: 479px){
    h1{
    bottom: 55%;
}
}
