body{
	margin: 0px;
	font-family: 'Sahitya', serif;
	/*position: relative;*/
}

*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

.banner{
	overflow: hidden;
    margin: 0px auto !important;
    background: #CACACA;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu {
    margin-top: 0px;
    position: static;
    left: 0px;
    right: 0px;
}
.navbar-wrapper{
	position: relative;
	top: 0px;
	z-index: 15;
	margin-left:0px;
	margin-right: 0px;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
    float: none;
}
.isStuck {
    left: 0px;
    width: 100%;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 100px;
  }

.ri-loading-image{
	
	background-size: 100%;
}
/*.container{
	height: 100vh;

}*/
.container-fluid{
	margin-left:0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;

}
/*.container-fluid>.navbar-header{
	margin-left:0px;
	margin-right: 0px;
}*/
.face{
    background-repeat: no-repeat;
 
        width: 100%;
}

.bannerText{
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    text-align: center;
    padding: 20x 0 30px;
    max-width: 960px;
    border: 1px;
    background: #04060cbf;
    opacity: .9;
    color: #197396c7;
    text-transform: uppercase;
    font-size: .5em;

}

.heading{
    padding-bottom: 55px;

}

.navbar-collapse{
	vertical-align: middle;
 /*   padding-left:50%;*/
}


.navbar{
	margin-bottom: 0px;
}

#aboutme{
	/*background: #0dacac; */
	background: #74cbd0;
    padding-top: 90px;
    padding-bottom: 100px;
    height: 100vh !important;
}
	a {
    color: #fcf8e3;
}

.card {
  /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.1s;
    margin: 0px;
    width: 35%;
    padding-left: 8%;
    padding-top: 15px;
    
}

b, strong {
    padding-left: 30px;
}



.avatar {
    padding: 2px 16px;
    display: inline-table;
    padding: 5px;
    font-size: 1.5em;
}
.img-circle{
	width: 70%;
	
	}

#summary{
	float:left;
	text-align:justify;
	padding-bottom: 20px;
}

.bntDownload {
    font-size: 16px;
    font-weight: 700;
    background: #eee;
    padding: 16px 22px;
    display: inline-block;
    color: #5b4134;
}
a:hover {
	background-color: #74cbd3;
	color: #FFFFFF;
	box-shadow: 2px;
	text-decoration: none;
}



.fullpage-section{
	background: #b9b7b7;
    padding-top: 90px;
    padding-bottom: 100px;
    height: 100vh !important;
}



.title {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    padding: 20px 0;
  }

.work{
    	
    	background-color: #74cbd0;
    	margin:0px;
    	width: 100%
    }
  .aboutme .fullpage-section .work{
  	height: 100%;
  }

/*START TINMELINE*/
ul.timeline {
    /*border-left: 8px solid #FFF;*/
    list-style: none;
    padding: 1px 0;
    margin-left: 100px;
}

    /*.timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 4px;
        background-color: #eeeeee;
        left: 20%;
        margin-left: -1.5px;
    }*/

    ul.timeline li .timeline-date {
    float: left;
    padding: 10px 15px 10px 10px;
    margin-top: 10px;
    margin-left: -115px;
    font-size: 15px;
    width: 110px;
    text-align: center;
     background: #03cc85; 
    color: #fff;
}

ul.timeline li .circle {
    float: left;
    margin: 20px 0;
    margin-left: -14px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    background-color: #d5d5d5;
}

ul.timeline li .data {
    background: #fdfdfd;
    margin: 10px 0px 10px 20px;
    border-left: 10px solid;
    padding: 18px 20px;
    font-size: 16px;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 3px;
    border-left-color: #03cc85;
}
.timeline-title{
    padding-left: 20px;
}
ul.timeline li .data .timeline-title {
    cursor: pointer;
    color: #777;
    font-size: 18px;
}
ul.timeline li .data .text {
  /*  display: none;*/
    margin-top: 15px;
    font-size: 14px;
}
ul.timeline li.open:hover .circle {
    background-color: #03bb7a;
    box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

    /*.timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
        }

 .timeline > li:after {
    clear: both;
        }

 .timeline > li > .timeline-panel {
    width: 75%;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #eee;

}
*/
 /*.timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }*/


/*.timeline-date {
    color: #fff;
    width: 100px;*/
 /*   height: 100px;*/
   /* line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left:50px;*/
   /* margin-left: 40px;*/
   /* background-color: #0dacac;*/
   /* z-index: 100;*/
    /*border-radius: 50%;
    margin:10px;
         
        }*/

/*.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}*/

         

/*.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}*/

/*.timeline-badge.info {
    background-color: #5bc0de !important;
}
*/
/*.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }*/

/*END TIMELINE*/

/* Footer*/

.footer {
	background:#00bdbd;
}
.follow{
list-style-type:none;
}
.social{
    display: inline-block;
}

/*.footer .container {
	padding:40px 0;
}
.footer ul {
	margin:0 auto;
	text-align:center;
	list-style-type:none;
}
.footer ul li {
	display:inline-block;
	text-align:center;
	background:#ffffff;
	color:#00bdbd;
	line-height:42px;
	/*margin:0 6px;*/
/*	width:42px !important;
	height:42px !important;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.footer ul li:hover {
	background:#0a9f9f;
}
.footer ul li:hover a {
	color:#fff;
}
.footer ul li a {
	color:#00bdbd;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i {
	line-height:42px !important;
}
*/
/**END CONTACTS AND FOOTER**/



   
/*Extra large devices omly*/
@media (min-width: 1200px) {
	.bannerText{
		top: 135%;
		font-size: 15px;
}
	/*.container {
    	height: 100%;
}*/
/*	.container{
		height: 100vh;
}*/
.aboutme {
	height: 100vh;
}
.fullpage-section{
	height: 100vh;
}

.work{
    clear: both;
    height: 100%;
    	
}

   b, strong {
    padding-left: 30px;
} 

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.bannerText{
	top: 45%;
	font-size: 15px;
}
.container {
    	margin-right: 0px;
    	margin-left: 0px;
}
.aboutme .fullpage-section{
	height: 100vh;
}

.work{
	height: 100%;
}
	b, strong {
    padding-left: 30px;
} 

}

@media (min-width: 768px) and (max-width: 991px) {


.card{
    width: 60%;
    margin-left: 25%;
}
b, strong {
    padding-left: 75px;
    
}

}

@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar {
    border-radius: 0px;
}
.fullpage-section{
     height: 100%;
}
#aboutme{
    height: 100%;
}
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
	.bannerText{
	top: 15%;
	font-size: 10px;
}

.card{
    width: 60%;
    margin-left: 18%;
}
    

.container {
   			height: auto;
}
.navbar-collapse {
    vertical-align: middle;
    position: fixed;
}
.navbar-collapse {
    padding-right: 95px;
    padding-left: 15px;
    text-align: center;
    overflow-x: visible;
    /* position: fixed; */
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #333;
    width: 100vh;
    }
.navbar-toggle {
    position: fixed;
    top: 0px;
    right: 0px;
    /*float: right;*/
    border-color: #333;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #333;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
}
.bannerText{
	top: 13%;
    font-size: 15px;
    padding: 5px;
    float: left;
    display: inline-table;
    margin-left: 10px;
}

}

/*********************Super extra small devices Only (e.g. iPhone 4)****************/
@media (max-width: 479px) {
	.bannerText{
	top: 45%;
	font-size: 10px;
}
.fullpage-section{
     height: 100% !important;
}
#aboutme{
    height: 100% 
}
.navbar-collapse {
    vertical-align: middle;
    position: fixed;
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #333;
    width: 100vh;
}
.navbar-collapse {
    padding-right: 95px;
    padding-left: 15px;
    text-align: center;
    overflow-x: visible;
    /* position: fixed; */
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
/*.navbar-toggle {
    position: fixed;
    top: 0px;
    right: 0px;
    float: right;
    border-color: #333;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #333;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}*/
.card{
    width: 60%;
    margin-left: 25%;
}
b, strong {
    padding-left: 5px;
}
ul.timeline .data {
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding-top: 65px !important;
}
ul.timeline .timeline-date {
    margin-left: 0 !important;
}
ul.timeline{
    margin-left: 0px;
}
}
/********** Medium devices only **********/
/*@media (min-width: 992px) and (max-width: 1199px) {
	.bannerText{
	top: 65%;
	font-size: 15px;
}
	.container {

    height: 100vh;
}
}*/


